# Mob related ATs
public net.minecraft.entity.EntityLiving field_70728_aV # experienceValue
public net.minecraft.entity.Entity func_70022_Q()Ljava/lang/String; # getEntityString

# Looting related ATs
public net.minecraft.world.storage.loot.LootEntryTable field_186371_a # table
public net.minecraft.world.storage.loot.LootEntry field_186366_e # conditions
public net.minecraft.world.storage.loot.functions.LootFunction field_186555_a # conditions
public net.minecraft.world.storage.loot.functions.SetCount field_186568_a # countRange
public net.minecraft.world.storage.loot.functions.SetDamage field_186566_b # damageRange
public net.minecraft.world.storage.loot.conditions.EntityHasProperty field_186623_a # properties
public net.minecraft.world.storage.loot.conditions.RandomChance field_186630_a # chance
public net.minecraft.world.storage.loot.conditions.RandomChanceWithLooting field_186627_a # chance

# Rendering related ATs
public net.minecraft.client.renderer.entity.model.ModelChest field_78232_b # chestBelow
public net.minecraft.client.renderer.entity.model.ModelChest field_78233_c # chestKnob

#################################
##### JEI AT for 1.13.2 dev #####
#################################

#rendering
public net.minecraft.client.renderer.ItemRenderer func_191965_a(Lnet/minecraft/client/renderer/model/IBakedModel;I)V # renderModel
public net.minecraft.client.renderer.ItemRenderer func_191961_a(Lnet/minecraft/client/renderer/model/IBakedModel;Lnet/minecraft/item/ItemStack;)V # renderModel

#TextureMap
protected net.minecraft.client.renderer.texture.TextureMap field_94252_e # mapUploadedSprites
protected net.minecraft.client.renderer.texture.TextureMap field_94258_i # listAnimatedSprites
protected net.minecraft.client.renderer.texture.TextureMap field_94249_f # missingImage
protected net.minecraft.client.renderer.texture.TextureMap field_94254_c # basePath
protected net.minecraft.client.renderer.texture.TextureMap field_195427_i # sprites
protected net.minecraft.client.renderer.texture.TextureMap func_195422_a(Lnet/minecraft/resources/IResourceManager;Lnet/minecraft/client/renderer/texture/TextureAtlasSprite;)Z # loadSprite
public net.minecraft.client.renderer.texture.TextureAtlasSprite <init>(Lnet/minecraft/util/ResourceLocation;Lnet/minecraft/client/renderer/texture/PngSizeInfo;Lnet/minecraft/client/resources/data/AnimationMetadataSection;)V # constructor
public net.minecraft.client.renderer.texture.TextureAtlasSprite field_110975_c # x
public net.minecraft.client.renderer.texture.TextureAtlasSprite field_110974_d # y

#keyboard
public net.minecraft.client.KeyboardListener field_197973_b # repeatEventsEnabled

#colors
public net.minecraft.client.renderer.texture.TextureAtlasSprite field_195670_c # frames

#GuiRecipeBook
public net.minecraft.client.gui.recipebook.GuiRecipeBook field_191904_o # width
public net.minecraft.client.gui.recipebook.GuiRecipeBook field_191905_p # height
public net.minecraft.client.gui.recipebook.GuiRecipeBook field_191903_n # xOffset
public net.minecraft.client.gui.recipebook.GuiRecipeBook field_193018_j # recipeTabs